# General
.DS_Store
.idea/
.vscode/

# Python / Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Firebase
.firebase/
firebase-debug.log
